@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@font-face {
    font-family: 'Muller';
    font-weight: 400;
    font-style: normal;
    font-display: optional;
    src: url("https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-regular.eot");
    src: url("https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-regular.eot?#iefix") format("embedded-opentype"), url("https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-regular.woff2") format("woff2"), url("https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-regular.woff") format("woff"), url("https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Muller';
    font-weight: 500;
    font-style: normal;
    font-display: optional;
    src: url("https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-medium.eot");
    src: url("https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-medium.eot?#iefix") format("embedded-opentype"), url("https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-medium.woff2") format("woff2"), url("https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-medium.woff") format("woff"), url("https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Muller';
    font-weight: 700;
    font-style: normal;
    font-display: optional;
    src: url("https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-bold.eot");
    src: url("https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-bold.woff2") format("woff2"), url("https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-bold.woff") format("woff"), url("https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    font-display: optional;
    src: url("https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.eot");
    src: url("https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.woff2") format("woff2"), url("https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.woff") format("woff"), url("https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Lato';
    font-weight: 500;
    font-style: normal;
    font-display: optional;
    src: url("https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Medium.eot");
    src: url("https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Medium.woff2") format("woff2"), url("https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Medium.woff") format("woff"), url("https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal;
    font-display: optional;
    src: url("https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Bold.eot");
    src: url("https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Bold.woff2") format("woff2"), url("https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Bold.woff") format("woff"), url("https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
}

html, body {
    font-family: 'Muller';
    box-sizing: border-box;
    color: #333;
    padding: 0;
    margin: 0;
    letter-spacing: 0.025em;
}

body {
	max-width: 690px;
	margin: 0 auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: inherit;
    letter-spacing: inherit;
}

h1, h4 {
    text-align: center;
    font-weight: 400;
}

button {
    font-size: 14px;
    text-transform: uppercase;
    background-color: #9E3621;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 0 30px;
    color: white;
    height: 42px;
    border: 0;
    min-width: 200px;
}
button:hover {
    background-color: #DA322C;
    box-shadow: 0 18px 20px -15px rgba(158, 54, 33, 0.5);
}

button i {
    margin-right: 20px;
}

input, textarea {
    border-radius: 3px;
    border: 1px solid #333;
    padding: 16px;
    outline: 0;
    font-family: 'Lato';
    font-size: 14px;
}

input:not([type]) {
    background-color: white;
    height: 44px;
    transition: all 0.5s;
    min-width: 250px;
}

textarea {
    width: 90%;
}

p {
	margin: 20px 0px;
	line-height: 1.5em;
    font-family: 'Lato';
}

pre {
	font-family: Inconsolata, monospace;
	font-size: 0;
	line-height: 0px;
	white-space: pre-line;
	background-color: #20232B;
    color: white;
    margin: 20px 0;
    padding-top: 16px;
	padding-bottom: 16px;
	padding-right: 25px;
	padding-left: 16px;
	overflow-x: auto;
	overflow-y: hidden;
	color: white;
	border-radius: 3px;
}

code {
	line-height: 15px;
	font-size: 12px;
	font-family: 'Source Code Pro', monospace;
	white-space: pre;
}

pre.code-editor {
	counter-reset: line;
}
code.code-line {
    counter-increment: line;
}

code.code-line:before{
	content: counter(line);
	padding-right: 16px;
	opacity: 0.25;
	width: 30px;
	text-align: right;
	display: inline-block;
}

img {
    display: block;
    margin: 20px 0;
}

.step {
	opacity: 0;
	transition: all 1s;
	margin-bottom: 40px;
}

.revealed {
    opacity: 1;
}

.hidden {
    display: none !important;
}

.center {
	display: block;
	margin: 0 auto;
}

.frame {
    width: 50%;
    min-width: 200px;
    height: 300px;
    border: 2px solid #ebebeb;
    float: left;
}

.login-form * {
    margin-bottom: 20px;
}

.main-form {

}
