#root {
	height: 100%;
}

a:focus {
	text-decoration: none;
}

.layout {
	height: 100%;
}

.auth-header {
	display: flex;
	align-items: center;
}

.auth-title {
	margin: 50px auto;
	text-align: center;
}

.auth-form-footer {
	text-align: center;
	margin-top: -20px;
}

.logo h1 {
	font-size: 1rem;
	color: #fff;
	padding: 1em 24px;
	margin: 0;
	line-height: 1;
}

.demo-form {
	width: 360px;
	margin: 50px auto;
}

.demo-form-button {
	width: 100%;
}

.sidebar > div {
	display: flex;
	flex-direction: column;
}

.sidebar-footer {
	margin-top: auto;
	padding: 1em 24px;
	color: #fff;
	background: rgba(255,255,255,0.1);
}

.profile {
	display: flex;
}

.profile .username {
	margin-left: .67em;
}

